<!-- Page Content -->
<head>
  <%= stylesheet_link_tag    "shop-homepage.css", :media => "all" %>

<style>
  .navbar-toggler {
      z-index: 1;
  }

  @media (max-width: 576px) {
      nav > .container {
          width: 100%;
      }
  }
  /* Temporary fix for img-fluid sizing within the carousel */

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
      display: block;
  }
  </style>
</head>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">Shoppers</h1>

              
                  <div id="side">
                    <div id="cart">
                      <% if @cart.line_items.empty? %>

                      <% end %>
                     <%= render @cart %>
                    </div>
                  </div>


            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <div class="row" id="content">
                  <% @products.each_with_index do |i , index|%>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                              <%= image_tag i.image.url(:medium), :class=>"card-img-top img-fluid"%>
                            <div class="card-block">
                                <h4 class="card-title"><p ><%= i.title%></p></h4>
                                <h5><%=number_to_currency(i.price) %> </h5>
                                <p class="card-text"><%= i.description%>  </p>
                            </div>
                            <div class="card-footer">
                              <p><%= button_to 'Add to Cart', line_items_path(product_id: i) ,:class=> "btn btn-primary", remote: true%></p>

                            </div>
                        </div>
                    </div>
                    <%end%>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
